@charset "UTF-8";
/*Variables*/
* {
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 20px;
  font-family: "barlow";
  font-weight: 300;
  color: #A19276;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
}

a {
  font-size: 15px;
}

/*Inicio de Navegación*/
header {
  background-color: black;
  position: fixed;
  width: 100%;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
}
nav .list {
  text-align: center;
  justify-content: center;
  align-items: center;
}
nav .btn-dark {
  background-color: #beaf87;
  border-color: #beaf87;
}
nav .btn-dark:hover {
  background-color: #a79a77;
}
nav .logo-img {
  padding: 10px;
  margin: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.navbar {
  padding-top: 0px;
}
.navbar li {
  padding: 5px;
  text-align: center;
}
.navbar li a {
  color: white;
  font-weight: 700;
}
.navbar li a:hover {
  color: #beaf87;
}

/*Final de navegación*/
/*Body*/
body {
  margin: 0;
  background-color: black;
  font-family: "barlow";
  width: 100%;
}

button {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  color: white;
  background-color: #beaf87;
  font-family: "barlow";
  font-weight: 700;
}
button:hover {
  background-color: #A19276;
}

/*Primera sección-pág.1*/
#hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/family-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  border-top: solid 2px #beaf87;
}
#hero h1 {
  color: white;
  margin-top: 300px;
  font-family: "barlow";
  font-weight: 700;
  text-align: center;
}
#hero form {
  text-align: center;
}
#hero .primerasección {
  overflow: hidden;
}

#equipo {
  background-color: white;
  text-align: center;
  padding: 20px 12px;
}
#equipo h2 {
  font-family: "barlow";
  font-weight: 700;
  color: #beaf87;
  font-size: 35px;
}
#equipo p {
  color: #beaf87;
}

#oportunidades {
  background-color: black;
  text-align: center;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  margin: 0px;
  height: 600px;
}
#oportunidades h3 {
  color: white;
  font-family: "barlow";
  font-weight: 700;
  margin-top: 80px;
  font-size: 60px;
}
#oportunidades h4 {
  color: white;
  padding: 40px;
  font-family: "barlow";
  font-weight: 700;
}
#oportunidades .container {
  display: flex;
  justify-content: center;
}
#oportunidades .cartas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#oportunidades .carta1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/carta1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  text-align: center;
  overflow: auto;
  margin-right: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
}
#oportunidades .carta2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/carta2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  text-align: center;
  overflow: auto;
  margin-right: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
}
#oportunidades .carta3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/carta3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  text-align: center;
  overflow: auto;
  margin-top: 100px;
  margin-bottom: 10px;
}

#porqueelegirnos .container {
  text-align: center;
  padding: 100px 12px;
}
#porqueelegirnos .container h2 {
  margin-bottom: 80px;
  margin-top: 5px;
  color: #beaf87;
  font-family: "barlow";
  font-weight: 700;
  font-size: 40px;
}
#porqueelegirnos .container li {
  margin: 20px 0px;
  color: #beaf87;
  font-family: "barlow";
  font-weight: 300;
}

/*inicio de footer*/
footer {
  background-color: black;
  background-color: black;
  font-family: "barlow";
  font-weight: 100;
  width: 100%;
  height: 400px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
footer h5 {
  color: #beaf87;
  cursor: pointer;
}
footer h6 {
  color: #beaf87;
  font-family: "barlow";
  font-weight: 300;
  font-size: 30px;
  justify-content: left;
  align-items: center;
  margin-bottom: 35px;
  margin-top: 60px;
  font-size: 50px;
  cursor: pointer;
}
footer .iconos {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
footer .footer-row {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
footer .footer-links {
  margin-top: 30px;
  cursor: pointer;
}

/*final del footer*/
/*fonts*/
@font-face {
  font-family: "barlow";
  src: url("../assets/fonts/Barlow-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "barlow";
  src: url("../assets/fonts/Barlow-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "barlow";
  src: url("../assets/fonts/Barlow-Thin.ttf");
  font-weight: 100;
}
/*final de fonts*/
@media (max-width: 576px) {
  #grid {
    display: block;
    width: 100%;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 0 10px;
  }
  #nuestraspropiedades {
    padding-bottom: 100px;
    width: 100%;
  }
  #nuestraspropiedades h2 {
    margin: 80px;
  }
  header ul {
    padding: 10px;
  }
  header a {
    font-size: 10px;
  }
}
/*comprar*/
.secciones {
  border: 2px solid black;
}

#grid {
  display: grid;
  grid-template-areas: "empren oportu" "empren ni" "np np";
  grid-template-rows: 600px 600px 700px;
  grid-template-columns: 40% auto;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  padding-top: 0px;
  background-color: black;
}

#emprendimientos {
  grid-area: empren;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/emprendimientos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
}
#emprendimientos h1 {
  font-size: 40px;
  font-family: "barlow";
  font-weight: 700;
  color: white;
  margin-top: 60%;
}

#oportu {
  grid-area: oportu;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/oportu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
}
#oportu h2 {
  color: white;
  font-family: "barlow";
  font-weight: 700;
  font-size: 40px;
  margin-top: 30%;
}

#nuevosingresos {
  grid-area: ni;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/nuevosingresos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
}
#nuevosingresos h3 {
  color: white;
  font-family: "barlow";
  font-size: 40px;
  font-weight: 700;
  margin-top: 30%;
}

#nuestraspropiedades {
  grid-area: np;
  text-align: center;
  justify-content: center;
  background-color: black;
}
#nuestraspropiedades .grid-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  gap: 10px;
  height: 200px;
  align-content: center;
  justify-content: space-around;
  text-align: center;
}
#nuestraspropiedades .item1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/casa.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
#nuestraspropiedades .item2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/depto.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
#nuestraspropiedades .item3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/lote.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}
#nuestraspropiedades h2 {
  margin-bottom: 200px;
  color: white;
  font-family: "barlow";
  font-weight: 300;
  font-size: 80px;
}
#nuestraspropiedades h4 {
  color: white;
  font-family: "barlow";
  font-weight: 300;
  font-size: 30px;
}

@media (max-width: 576px) {
  header ul {
    padding: 10px;
  }
  header a {
    font-size: 10px;
  }
  #grid {
    display: block;
    width: 100%;
  }
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 0 10px;
  }
  #nuestraspropiedades {
    padding-bottom: 100px;
  }
  #nuestraspropiedades h2 {
    margin: 80px;
  }
}
/*alquiler*/
.nuevosingresos {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/nuevosingresosalquiler.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  border-top: solid 2px #beaf87;
  overflow: hidden;
}
.nuevosingresos h1 {
  color: white;
  margin-top: 300px;
  font-family: "barlow";
  font-weight: 700;
  text-align: center;
}
.nuevosingresos form {
  text-align: center;
}

.quieroalquilar {
  text-align: center;
  padding: 50px 12px;
  background-color: #beaf87;
  height: 200px;
}
.quieroalquilar h2 {
  font-family: "barlow";
  font-weight: 300;
  color: white;
  font-size: 35px;
}
.quieroalquilar button {
  color: #beaf87;
  background-color: white;
}

.nuestraspropiedades {
  background-color: black;
  text-align: center;
  justify-content: space-around;
  background-size: cover;
  background-position: center;
  margin: 0px;
  height: 600px;
}
.nuestraspropiedades h3 {
  color: white;
  font-family: "barlow";
  font-weight: 700;
  margin-top: 80px;
  font-size: 60px;
}
.nuestraspropiedades h4 {
  color: white;
  padding: 40px;
  font-family: "barlow";
  font-weight: 700;
}
.nuestraspropiedades .container {
  display: flex;
  justify-content: center;
}
.nuestraspropiedades .cartas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nuestraspropiedades .carta1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/carta1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  text-align: center;
  overflow: auto;
  margin-right: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.nuestraspropiedades .carta2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/carta2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  text-align: center;
  overflow: auto;
  margin-right: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
}
.nuestraspropiedades .carta3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/carta3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  text-align: center;
  overflow: auto;
  margin-top: 100px;
  margin-bottom: 10px;
}

.alquilarconnosotros {
  justify-content: center;
  text-align: center;
  padding: 100px 12px;
}
.alquilarconnosotros h2 {
  margin-bottom: 80px;
  margin-top: 5px;
  color: #beaf87;
  font-family: "barlow";
  font-weight: 300;
  font-size: 50px;
}
.alquilarconnosotros li {
  margin: 20px 0px;
  color: #beaf87;
  font-family: "barlow";
  font-weight: 300;
}

/*vender*/
.quierovender {
  display: flex;
  width: 100%;
}
.quierovender form {
  background-color: black;
  margin: auto;
  padding: 200px 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.quierovender .form_title {
  font-size: 100px;
  margin-bottom: 50px;
  color: #beaf87;
  font-family: "barlow";
  font-weight: 700;
  cursor: pointer;
}
.quierovender .form_paragraph {
  font-family: "barlow";
  font-weight: 300;
  font-size: 15px;
  color: #beaf87;
  margin-bottom: 100px;
  cursor: pointer;
}
.quierovender .input-group {
  display: grid;
  flex-direction: column;
  text-align: left;
  gap: 7px;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(black);
  font-family: "barlow";
  position: static;
}
.quierovender label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #beaf87;
  top: 0;
  left: 5px;
}
.quierovender .btn {
  background-color: #beaf87;
  color: white;
  font-family: "barlow";
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 0;
  border: none;
  border-radius: 0.5em;
  margin-top: 10px;
}
.quierovender img {
  height: 1295px;
  width: auto;
}

.compromiso {
  background-color: black;
  margin: 200px 0px;
}
.compromiso h4 {
  color: white;
  cursor: pointer;
  font-family: "barlow";
  font-weight: 100;
  font-size: 50px;
  text-align: center;
}

.ofrecersupropiedad {
  justify-content: center;
  text-align: center;
  color: #beaf87;
  margin-top: 200px;
  font-family: "barlow";
  margin-bottom: 200px;
}
.ofrecersupropiedad h2 {
  font-weight: 300;
  font-size: 70px;
  cursor: pointer;
  margin-bottom: 50px;
}
.ofrecersupropiedad li {
  margin: 30px 0px;
  cursor: pointer;
  font-weight: 100;
}

/*equipo*/
.formaparte {
  background-color: black;
  padding-top: 150px;
  justify-content: center;
  text-align: center;
}
.formaparte h1 {
  color: #beaf87;
  font-family: "barlow";
  font-weight: 300;
  font-size: 80px;
  cursor: pointer;
}
.formaparte img {
  height: 900px;
  width: 100%;
}

.compromiso {
  margin: 50px 0px;
}
.compromiso h4 {
  font-size: 20px;
  font-weight: 300;
}

.datospersonales {
  text-align: center;
}
.datospersonales h2 {
  font-size: 50px;
  margin-bottom: 50px;
  color: #beaf87;
  font-family: "barlow";
  font-weight: 700;
}
.datospersonales form {
  background-color: black;
  padding: 200px 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.datospersonales .input-group {
  display: grid;
  flex-direction: column;
  text-align: left;
  gap: 7px;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(black);
  font-family: "barlow";
  position: static;
}
.datospersonales label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
  cursor: pointer;
  color: #beaf87;
  top: 0;
  left: 5px;
}
.datospersonales .btn {
  background-color: #beaf87;
  color: white;
  font-family: "barlow";
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 0;
  border: none;
  border-radius: 0.5em;
  margin-top: 10px;
}
.datospersonales .btn:hover {
  color: black;
}

/*responsive para celular*/
@media (max-width: 415px) {
  /* tercera sección,pág.1*/
  #oportunidades {
    width: auto;
  }
  #oportunidades h3 {
    font-size: 38px;
  }
  #oportunidades h4 {
    font-size: 15px;
  }
  /*primera sección, pág.2*/
  #emprendimientos {
    margin-bottom: 30px;
    padding-bottom: 100px;
  }
  /*segunda sección, pág.2*/
  #oportu {
    margin-bottom: 30px;
    padding-bottom: 100px;
  }
  /*tercera sección, pág.2*/
  #nuevosingresos {
    margin-bottom: 30px;
    padding-bottom: 100px;
  }
  /* cuarta sección,pág.2*/
  #nuestraspropiedades {
    width: auto;
  }
  #nuestraspropiedades h4 {
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 30px;
    padding-top: 60px;
  }
  #nuestraspropiedades .grid-container {
    display: block;
    height: auto;
  }
  #nuestraspropiedades h2 {
    font-size: 50px;
    padding-top: 60px;
  }
  /*segunda sección, pág.3*/
  .quieroalquilar {
    height: auto;
  }
  /*primera sección, pág.4*/
  .formaparte {
    padding-top: 40px;
  }
  .formaparte h1 {
    font-size: 60px;
  }
  .formaparte img {
    width: 100%;
    height: 400px;
  }
  /*primera sección, pág.5*/
  .quierovender {
    display: block;
    width: 100%;
  }
  .quierovender .form_title {
    font-size: 70px;
  }
  .quierovender img {
    width: 380px;
    height: 350px;
  }
  /*footer*/
  footer .footer-row {
    display: block;
  }
}
/*final de responsive para celular*//*# sourceMappingURL=nuevo.css.map */