*{
    box-sizing: border-box;
    }
    
    h1{font-size: 80px;}
    h2{font-size: 30px;}
    h3{font-size: 30px;}
    h4{font-size: 20px;}
    h5{font-size: 15px;}
    p{font-size: 20px;
    font-family:"barlow";
    font-weight: 300;
    color: #A19276}
    ul{list-style: none;}
    li{font-size: 20px;}
    a{font-size: 15px;}
    
    
    body{
        margin: 0;
        background-color:#E6E7E8
    }
    
    header{
    display: flex;
    height: 100px;
    width: 100%;
    background-color:black; 
    position:fixed;
    overflow: hidden;
    }
    
    header nav{
    display: flex;
    align-items: center;
    text-align:center;
    overflow: hidden;
    font-family: "barlow";
    font-weight: 700;
    }
    
    header a{
        padding: 5px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        
      
    }
    header a:hover{
    color: #beaf87;
    }
    


    header ul{
        display: flex;
        text-align: center;
    }
    
       
    .logo img{
        height: 300px;
        width: 300px;
        margin-top: 30px;
        vertical-align:middle;
        cursor: pointer;

        }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10%;
    }
    
    button{
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0);
    box-shadow: 2px 2px 10px rgba(0,0,0);
    color: #ffffff;
    background-color: #beaf87;
    font-family: "barlow";
    font-weight: 700;
    }
    
    button:hover{
    background-color: #A19276;
    }
    
    .container{
    max-width: 1400px;
    }


    @media (max-width: 600px){
        
        header a{
        display: inline-block;
        width: 100%;
        padding: 5px;
        }

        .logo img{
            height: 200px;
            width: 200px;
            margin-right: 5px;

        }

        .primerasección{
        display: block;
        width: 100%;
        

        }

        h1{
            font-size: 50px;
            margin-left: 0;
            margin-left: 30px;
        }

        .equipo{
            display:inline-block;
            overflow: hidden;
            

        }
        h2{
            font-size: 30px;
            display: block;
            
    
        }

.equipo p{
    font-size: 15px;
    text-align: start;
    display: block;

}
}




    



    #hero{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
        
    )
    ,url(../assets/img/family.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    border-top: solid 2px rgb(0, 124, 133);
        
    }
    
    #hero h1{
    color:white;
    margin-top: 300px;
    font-family:"barlow";
    font-weight: 700;
    
    }
    
    .primerasección {
    text-align: center;
    overflow:hidden;
    }
    
    
    #equipo{
    background-color:#E6E7E8;
    text-align: center;
    padding: 20px 12px;
    
    }
    
    #equipo h2{
    font-family: "barlow";
    font-weight: 700;
    color: black;
    }
    

    #oportunidades{
    background-color: black;
    text-align: center;
    justify-content: space-around;
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 600px;

    }
    
    #oportunidades h3{
    color: #A19276;
    font-family: "barlow";
    font-weight: 700;
    margin-top: 80px;
    }
    
    #oportunidades h4{
    color: white;
    padding: 40px;
    font-family: "barlow";
    font-weight: 700;  
    }
    #oportunidades .container{
    display: flex;
    justify-content: center;
    }

    .cartas{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .carta1{
    background-image:linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
            
    ) 
    ,url(../assets/img/carta1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    text-align:center;
    overflow: auto;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
        
    }
    
    .carta2{
    background-image:linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
            
    ) 
    ,url(../assets/img/carta2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    text-align:center;
    overflow: auto;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 10px;
    }
    
    .carta3{
    background-image:linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
            
    ) 
    ,url(../assets/img/carta3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
    width: 300px;
    text-align:center;
    overflow: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    }




    #porqueelegirnos .container{
    text-align: center;
    padding: 100px 12px;
    }
    #porqueelegirnos h2{
    margin-bottom: 80px;
    margin-top: 5px;
    color: black;
    font-family: "barlow";
    font-weight: 700;
    }
    #porqueelegirnos li{
    margin: 20px 0px;
    color: #A19276;
    font-family: "barlow";
    font-weight: 300;
    }
    

    footer{
    background-color: black;
    font-family: "barlow";
    font-weight: 100;
    bottom: 0;
    width: 100%;
    height: 100px;    
    }

    footer h5{
    color: #A19276;
    }

    footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    @font-face {
    font-family: "barlow";
    src: url("../assets/fonts/Barlow-Light.ttf");
    font-weight: 300;
    }
    
    @font-face {
    font-family: "barlow";
    src: url("../assets/fonts/Barlow-Bold.ttf");
    font-weight: 700;
    }
    
    @font-face {
    font-family: "barlow";
    src: url("../assets/fonts/Barlow-Thin.ttf");
    font-weight: 100;
    }


.border{
    border: 2px solid;
    }

#grid {
    display: grid;
    grid-template-areas:
    "empren oportu"
    "empren ni"
    "np np";
    grid-template-rows: 600px 600px 700px;
    grid-template-columns: 40% auto;
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 0px;
    background-color: #bdb398;
}


#emprendimientos{
    grid-area: empren;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)        
        ) 
    ,url(../assets/img/emprendimientos.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    
}
#emprendimientos h1{
    font-size: 40px;
    font-family: "barlow";
    font-weight: 700;
    color: white;
    margin-top: 60%;
}

#oportu{
    grid-area: oportu;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)        
        ) 
    , url(../assets/img/oportu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
}

#oportu h2{
    color: white;
    font-family: "barlow";
    font-weight: 700;
    font-size: 40px;
    margin-top: 30%;
}

#nuevosingresos{
    grid-area: ni;
    background-image: 
    linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url(../assets/img/nuevosingresos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;

}

#nuevosingresos h3{
    color: white;
    font-family: "barlow";
    font-size: 40px;
    font-weight: 700;
    margin-top: 30%;
}

#nuestraspropiedades{
    grid-area: np;
    text-align: center; 
    justify-content: center;
    background-color: black;
}


.grid-container{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: auto;
    gap: 10px;
    height: 200px;
    align-content: center;
    justify-content: space-around;
}

#nuestraspropiedades .item1{
    background-image: 
    linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url(../assets/img/casa.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 300px;
}


#nuestraspropiedades .item2{
    background-image: 
    linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url(../assets/img/depto.jpeg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 300px;
}

#nuestraspropiedades .item3{
    background-image: 
    linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url(../assets/img/lote.jpg);
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    height: 300px;
}



#nuestraspropiedades h2{
    margin-bottom: 200px;
    color: white;
    font-family: "barlow";
    font-weight: 300;
    font-size: 50px;
}

#nuestraspropiedades h4{
    color: white;
    font-family: "barlow";
    font-weight: 300;
    font-size: 30px;
}


@media(max-width: 576px){




#grid{
    display: block;
    width: 100%;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 0 10px;
}

#nuestraspropiedades h2{
    margin: 80px;
}
#nuestraspropiedades{
    padding-bottom: 100px;
}

header ul{
    padding: 10px;
}
header a{
    font-size: 10px;
}

}
